<form action="{{ path('app_doc_search_q') }}" method="post" class="w-100">
    <div class="input-group mb-3">
        <input class="form-control py-2 rounded-pill mr-1" name="q" type="search" placeholder="Search .." required
               value="{{ keyword is defined and keyword ? keyword : '' }}"
               style="padding-left: 20px;">
        <span class="input-group-append">
            <button class="btn rounded-pill" type="submit" style="margin-left: -48px;padding-top: 9px; z-index: 666;">
                <span class="bi bi-search text-secondary"></span>
            </button>
        </span>
    </div>
</form>