<form action="{{path('app_docu_search_q')}}" method="post" class="w-100">
    <div class="input-group mb-3">
        <input class="form-control py-2 rounded-pill mr-1" name="q" type="search" placeholder="Search Docus .." required
            value="{{keyword is defined and keyword ? keyword : ''}}">
        <span class="input-group-append">
            <button class="btn rounded-pill" type="submit" style="margin-left: -45px;padding-top: 10px; z-index: 666;">
                <span class="bi bi-search"></span>
            </button>
        </span>
    </div>
</form>