<form class="w-100">
    <div class="input-group mb-3">
        <input class="form-control py-2 rounded-pill mr-1 pr-5" type="search" placeholder="Search Docus .." required>
        <span class="input-group-append">
            <button class="btn rounded-pill" type="button" style="margin-left: -45px;padding-top: 10px;">
                <span class="bi bi-search"></span>
            </button>
        </span>
    </div>
</form>